body {
    display: block;
    color: rgb(70, 68, 68);
    text-align: left; 
   /* background-color: rgb(170, 202, 173); */
   font-family: Verdana, Geneva, sans-serif;
}

 #dog_list_container {
    text-align: left;
    
    position: absolute;
    left: 0;
  /* not working float left breaks clicks */
    }

#ul_container {
    list-style-type: none;
    position: fixed;
    left: 40px;
    background-color: rgb(235, 230, 230);
    padding: 5px;
}

#ul_container li {
    padding: 5px;
    font-weight: bold;
    border: 1px solid;
}

/* #container_div {
    /* doesnt work */
    /* width: 600px;
    display: block; */
    /* text-align: center; 
    margin-left: auto;
    margin-right: auto; */
   /* float: right; */       
 

#dog-details {
    
    position: fixed;
    left: 340px;
    top: 0
    
}

img {
    width: 500px;
    border-radius: 2em;
} 

#like-btn {
    list-style-type: none;
}

#footer_container_div {
    float: left;
    vertical-align: middle;
    position: fixed;  
    left: 870px;
    top: 95px;
    border: 1px solid;  
    padding: 10px;
    background-color: rgb(235, 230, 230);
    text-align: center; 
    
}

#emoji_container_div div {
    width: 12%;
    display: inline-block; 
}

footer ul {
    padding: 0;
}

form h4 {
    margin-bottom: 10px;
}

#dog_names {
    background-color: rgb(235, 230, 230);
    padding: 10px;
}

#ball_container_div {
    position: fixed;
    left: 730px;
    top: 300px;
    font-size: 50px;
}